<% include ./header %>
    <section class="engine">
        <a href="/">home</a>
    </section>
    <section class="mbr-section info3 cid-r2BM1gB1Pe" id="info3-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="title col-12 col-lg-8">
                    <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                        Login</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-8" data-form-type="formoid">

                    <form class="mbr-form" action="/register" method="post">
                        <div class="row row-sm-offset">
                            <div class="col-md-12 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-k">Username</label>
                                    <input type="text" class="form-control" name="username" data-form-field="username" required="" id="name-form1-k">
                                </div>
                            </div>
                            <div class="col-md-12 multi-horizontal" data-for="password">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="password-form1-k">Password</label>
                                    <input type="password" class="form-control" name="password" data-form-field="password" id="password-form1-k">
                                </div>
                            </div>
                        </div>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-form display-4">Login</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% include ./footer %>